{% extends "base.html" %}

{% block head %}
<link href="/static/css/badges.css" rel="stylesheet">
<script type="text/JavaScript">
$(document).ready(function(){
    // Your jQuery code goes in here
});

computers = [];
function addComputer(computer) {
    computers.push(computer);
    console.log(computers);
}

function get_offline_computers() {
    $.getJSON('/listings/json', function(data) {
        $.each(data.restaurants, function(index, restaurant) {
            //console.log(restaurant.name);
            $.each(restaurant.computers, function(index, computer) {

                if (!computer.online) {
                    console.log(computer);
                    addComputer(computer);
                }
            })
        })
    });
}

function init_table(tableID) {
    // create table
    var $table = $('<table id="myTable" border="1" class="table table-condenses">');
    // caption
    $table.append('<caption>Offline Computers</caption>')
    // thead
    .append('<thead>').children('thead')
    .append('<tr />').children('tr').append('<th>ID</th><th>Name</th><th>Restaurant</th><th>Address</th>' +
                    '<th>City</th><th>State</th><th>Phone</th>');

    //tbody
    var $tbody = $table.append('<tbody />').children('tbody');

    // add row
    $tbody.append('<tr />').children('tr:last')
    .append("<td>val</td>")
    .append("<td>val</td>")
    .append("<td>val</td>")
    .append("<td>val</td>")
    .append("<td>val</td>")
    .append("<td>val</td>")
    .append("<td>val</td>");

    // add table to dom
    $table.appendTo(tableID);

}

function init_tables() {
    init_table('#dyn_offline_table');

}


function addRow(columns) {
    var table = '<tr>';
    for (var i in columns) {
        table += '<td>'
        table += columns[i].toString();
        table += '</td>';
    }
    table += '</tr>';
    $('#myTable tr:last').after(table);

}

function addRows() {
    addRow([1,2,3,4,5,6,7]);
}

</script>

{% endblock head %}

{% block body_tag %}<body onload="init_tables()">{% endblock %}

{% block body %}
<legend>Listing</legend>

<input type="submit" onclick="addRows()"> <br> <br>


<div class="row">
  <div class="col-md-10">
      <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-md">What do all the colors mean?</a>
  </div>
  <div class="col-md-2">
      <button type="button" class="btn btn-default btn-md" onclick="location.reload(true)">
          <span class="glyphicon glyphicon-repeat"></span> Refresh
      </button>
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">What do all of these different colors mean?</h4>
        </div>
        <div class="modal-body">
            <span class="badge badge-success">C_ID</span>
            <label>Online</label><br>

            <span class="badge badge-important">C_ID</span>
            <label>Offline during online hours for restaurant</label><br>

            <span class="badge badge-warning">C_ID</span>
            <label>Offline during offline hours for restaurant</label><br>

            <span class="badge badge-inverse">C_ID</span>
            <label>Deactivated computer</label><br>

            <span class="badge">C_ID</span>
            <label>Computer has not done it's first check in yet</label><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


    <div id="dyn_offline_table">

    </div>




{% endblock body %}