{% extends "base.html" %}

{% block head %}
<link href="/static/css/badges.css" rel="stylesheet">
<script type="text/JavaScript">
    /**
$(document).ready(function(){
    // Your jQuery code goes in here
});
     **/

function init_table(tableID, caption, headers) {
    // create table
    var $table = $('<table id="' + tableID + '" border="1" class="table table-condenses">');
    // caption
    $table.append('<caption style="text-align: center;font-size: 30px">' + caption + '</caption><br><br>')
    // thead
    .append('<thead>').children('thead')
    .append('<tr />').children('tr').append(headers);

    //tbody
    var $tbody = $table.append('<tbody />').children('tbody');

    // add table to dom
    $table.appendTo(tableID);

}

function addRow(tableID, columns) {
    var table = '<tr class="data">\n';
    for (var i in columns) {
        table += '\t<td>';
        table += columns[i].toString();
        table += '</td>\n';
    }
    table += '</tr>\n';
    $('#' + tableID + ' tr:last').after(table);

}

function update_all_table() {
    $.getJSON('/listings/json/all', function(data) {
        $.each(data.restaurants, function(index, restaurant) {
            $.each(restaurant.computers, function(index, computer) {
                computer['badge'] = '<a href="' + computer.url + '"> <span class="' + computer.get_badge + '">' + computer.cid + '</span></a>'

                var tr = '<tr class="data">\n';
                if (index == 0) {
                    tr += '\t<td rowspan="' + restaurant.computers.length + '">' + restaurant.name + '</td>\n';
                    tr += '\t<td>' + computer.badge + '</td>\n';
                    tr += '\t<td>' + computer.name + '</td>\n';
                    tr += '\t<td>' + restaurant.address + '</td>\n';
                    tr += '\t<td>' + restaurant.city + '</td>\n';
                    tr += '\t<td>' + restaurant.state + '</td>\n';
                    tr += '\t<td>' + restaurant.phone + '</td>\n';
                }
                else {
                    tr += '\t<td>' + computer.badge + '</td>\n';
                    tr += '\t<td>' + computer.name + '</td>\n';
                    tr += '\t<td>' + restaurant.address + '</td>\n';
                    tr += '\t<td>' + restaurant.city + '</td>\n';
                    tr += '\t<td>' + restaurant.state + '</td>\n';
                    tr += '\t<td>' + restaurant.phone + '</td>\n';
                }
                tr += '</tr>';
                $('#dyn_all_table tr:last').after(tr);
            })
        })
    });

}

function setAlert(category, message, id, timeout, beep) {
    var warning = '<div class="alert alert-dismissable alert-' + category + '" id="' + id + '">\n';
    warning += '\t<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>\n';
    warning += message;
    warning += '</div>';
    $('#alerts').append(warning);
    if (beep) {
        document.getElementById('beep').play();
    }
    if (timeout && id) {
        setTimeout(function() {
            $('#' + id).alert('close');
        }, timeout)
    }
}

function update_offline_table() {
    $.getJSON('/listings/json/offline', function(data) {
        $.each(data.computers, function(index, computer) {
            var rows = [
            computer.cid, computer.name, computer.restaurant.name, computer.restaurant.address,
                    computer.restaurant.city, computer.restaurant.state, computer.restaurant.phone
            ]
            rows[0] = '<a href="' + computer.url + '"> <span class="' + computer.get_badge + '">' + computer.cid + '</span></a>'
            for (var item in rows) {
                if (!rows[item]) {
                    rows[item] = '';
                }
            }
            addRow('dyn_offline_table', rows);
            if (computer.alert) {
                var message = '<strong>Warning</strong> <a href="' + computer.url + '" class="alert-link">' + 'Computer #' + computer.cid + ' is down!</a>';
                var id = 'alert' + computer.cid;
                setAlert('danger', message, id, 10000, true)
            }
        })
    })
}


function update_tables() {
    $('tr.data').remove();
    update_offline_table();
    update_all_table();
}

function init_tables() {
    init_table('#dyn_offline_table', 'Offline Computers', '<th>ID</th><th>Name</th><th>Restaurant</th><th>Address</th>' +
                    '<th>City</th><th>State</th><th>Phone</th>');
    init_table('#dyn_all_table', 'All Computers', '<th>Restaurant</th><th>ID</th><th>Name</th><th>Address</th>' +
                    '<th>City</th><th>State</th><th>Phone</th>');
    update_tables();

    setInterval(function() {
        update_tables();
    }, 5000);
}

var pause = false;
var toggleResumeCount = 1;
var togglePauseCount = 1;
function playToggle() {
    if (pause) {
        $('#toggleIcon').attr('class', 'glyphicon glyphicon-pause');
        $('#toggleText').text('Click to pause')
        console.log('Sync resumed!');
        $('#togglePauseAlert' + (togglePauseCount - 1)).alert('close');
        setAlert('info', 'Sync resumed!', 'toggleResumeAlert' + toggleResumeCount, 5000);
        toggleResumeCount += 1;
    }
    else {
        $('#toggleIcon').attr('class', 'glyphicon glyphicon-play');
        $('#toggleText').text('Click to play')
        console.log('Sync paused!');
        $('#toggleResumeAlert' + (toggleResumeCount - 1)).alert('close');
        setAlert('info', 'Sync paused!', 'togglePauseAlert' + togglePauseCount, 5000);
        togglePauseCount += 1;
    }

    pause = !pause;
}
</script>

{% endblock head %}

{% block body_tag %}<body onload="init_tables()">{% endblock %}

{% block body %}


<audio id="beep" src="/static/ring.mp3" preload="auto"></audio>
<br>
<div id="alerts">

</div>

<br>
<div class="row">
  <div class="col-md-10">
      <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-md">What do all the colors mean?</a>
  </div>
  <div class="col-md-2">
      <button type="button" class="btn btn-default btn-md" onclick="playToggle()">
          <span class="glyphicon glyphicon-pause" id="toggleIcon"></span> <p style="display:inline" id="toggleText">Click to pause</p>
      </button>
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">What do all of these different colors mean?</h4>
        </div>
        <div class="modal-body">
            <span class="badge badge-success">C_ID</span>
            <label>Online</label><br>

            <span class="badge badge-important">C_ID</span>
            <label>Offline during online hours for restaurant</label><br>

            <span class="badge badge-warning">C_ID</span>
            <label>Offline during offline hours for restaurant</label><br>

            <span class="badge badge-inverse">C_ID</span>
            <label>Deactivated computer</label><br>

            <span class="badge">C_ID</span>
            <label>Computer has not done it's first check in yet</label><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<div id="dyn_offline_table">

</div>

<div id="dyn_all_table">

</div>

{% endblock body %}