{% extends "base.html" %}

{% block title %}Computer listing | Softec Systems{% endblock title %}
{% block head %}

<link href="/static/css/badges.css" rel="stylesheet">

<script type="text/JavaScript">
<!--
function timedRefresh(timeoutPeriod) {
	setTimeout("location.reload(true);",timeoutPeriod);
}
//   -->
</script>
{% endblock head %}

{% block body %}

<!--<body onload="JavaScript:timedRefresh(5000);">-->
<body>
<br>

<div class="row">
  <div class="col-md-10">
      <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-md">What do all the colors mean?</a>
  </div>
  <div class="col-md-2">
      <button type="button" class="btn btn-default btn-md" onclick="location.reload(true)">
          <span class="glyphicon glyphicon-repeat"></span> Refresh
      </button>
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">What do all of these different colors mean?</h4>
        </div>
        <div class="modal-body">
            <span class="badge badge-success">C_ID</span>
            <label>Online</label><br>

            <span class="badge badge-important">C_ID</span>
            <label>Offline during online hours for restaurant</label><br>

            <span class="badge badge-warning">C_ID</span>
            <label>Offline during offline hours for restaurant</label><br>

            <span class="badge badge-inverse">C_ID</span>
            <label>Deactivated computer</label><br>

            <span class="badge">C_ID</span>
            <label>Computer has not done it's first check in yet</label><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->





{% if offline_computers %}
<p style="text-align: center;font-size: 30px">Offline Computers</p>
<table border="1" class="table table-condenses">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Restaurant</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Phone</th>
        </tr>
    </thead>

    <tbody>
        {% for computer in offline_computers %} <!-- Offline computers only,
        sorted alphabetically -->
        <tr>
            <td><a href="{{ computer.get_absolute_url }}">
                <span class="{{ computer.get_badge }}">{{ computer.cid }}</span></a></td>
            <td>{{ computer.name }}</td>
            <td>{{ computer.restaurant }}</td>
            <td>{{ computer.restaurant.address }}</td>
            <td>{{ computer.restaurant.city }}</td>
            <td>{{ computer.restaurant.state }}</td>
            <td>{{ computer.restaurant.phone }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<h3 style="text-align: center;">No computers are currently offline!</h3>

{% endif %}

<!-- End offline listing -->
<!-- Start alphabetically Restaurant ordered online listing -->

<p style="text-align: center;font-size: 30px">All Computers</p>
<table border="1" class="table table-condenses">
    <thead>
        <tr>
            <th>Restaurant</th>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Phone</th>
        </tr>
    </thead>

    <tbody>
        {% for computers in restaurants %}
        {% for computer in computers %}
        <tr>
            {% if forloop.first %}
            <td rowspan="{{ computers.count }}">{{ computer.restaurant }}</td>

            {% endif %}
            <!-- -->

            <td><a href="{{ computer.get_absolute_url }}"><span class="{{ computer.get_badge }}">{{ computer.cid }}</span></a></td>
            <td>{{ computer.name }}</td>
            <td>{{ computer.restaurant.address }}</td>
            <td>{{ computer.restaurant.city }}</td>
            <td>{{ computer.restaurant.state }}</td>
            <td>{{ computer.restaurant.phone }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>

<!-- End Restaurant Grouping -->


{% endblock body %}